.page-header {
        background-color: #0a95ff;
        margin-top: 0;
        padding: 20px 20px 20px 40px;
    }

    .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
        color: #d7ffb3;
        font-size: 36pt;
        text-decoration: none;
    }