li{
    list-style-type: none;
}
.navbar-header {
    margin-left: 5em;
    margin-top: 1.5em;
    margin-bottom: 25px;
}
.navbar {
    background-color: #274266;
}
.form-group a {
    float: right;
    position: relative;
    margin-right: 2em;
    margin-top: 2em;
}
.form-group h3 {
    float: right;
    margin-right: 4em;
    margin-top: 1.5em;
    color: #23a72f;
}
.navbar-right {
    margin-right: 5em;
}

.hidden-block {
    display: none;
}

button {
    margin-top: 10px;
}

textarea {
    resize: none;
}

.login-block {
    height: 120px;
}

.answer:hover {
    color: #274266;
    text-decoration: underline;
    cursor: pointer;
}

.answer {
    color: #609ab6;
    font-size: x-small;
}

.date {
  color: #777;
  font-size: 10px;
}
.media-text {
  margin-bottom: 0.25rem;
}

.alert-info {
    margin-top: 15px;
}